*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
input,
seclect,
button,
form,
textarea {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 2);
    overflow: hidden;
}

.section-heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 125%;
}

.section-desc {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 175%;
}

.btn {
    --height: 52px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background: #212832;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 70px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link,
.header-action__link {
    position: relative;
    color: #696d76;
    line-height: 175%;
    padding: 8px 24px;
}

.nav__link--active,
.nav__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__link {
    color: #212832;
    font-weight: 600;
}

.nav__link--active::after {
    position: absolute;
    right: 22px;
    content: '';
    display: block;
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.header-action {
    margin-left: auto;
}

/* Hero */
.hero {
    margin-top: 34px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__label {
    display: flex;
    align-items: center;
    color: #696d77;
    line-height: 175%;
}

.hero__label::before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
}

.hero__heading {
    margin-top: 12px;
    width: 500px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 116.667%;
}

.hero__heading-bold {
    color: #7264d6;
}

.hero__desc {
    margin: 20px 0 40px;
    width: 540px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 166.667%;
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    width: 100%;
    height: 100%;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 175%;
    padding: 0 23px;
}

.hero-form__submit {
    --height: 58px;

    width: 149px;
    margin-right: 8px;
    background: #7264d6;
}

.hero__message {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 171.429%;
}

.hero__media {
    margin-left: 160px;
    flex: 1;
}

.hero__media-wrap {
    position: relative;
}

.hero__media-img {
    display: block;
    height: 562px;
}

.hero-deposit {
    position: absolute;
    top: 113px;
    left: -100px;

    display: flex;
    align-items: center;

    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-deposit__text {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
    margin-left: 8px;
}

.hero-deposit__price {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 100%;
}

.hero-interest {
    position: absolute;
    top: 127px;
    right: -44px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero-interest__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__text {
    color: #fff;
}

.hero-secure {
    position: absolute;
    bottom: 61px;
    right: 74px;

    display: flex;

    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.hero-secure__content {
    margin-left: 11px;
}

.hero-secure__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
}

.hero-secure__text {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 100%;
}

/* Work */
.work {
    margin-top: 160px;
}

.work__inner {
    display: flex;
    justify-content: space-between;
}

.work__media {
    position: relative;
}

.work__img-wrap {
    position: relative;
}

.work__img-wrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: url(../img/work-decor.png);
}

.work__img {
    width: 456px;
}

.work__card {
    position: absolute;
    top: 76px;
    right: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: #7264d6;
    border-radius: 8px;
}

.work__card-decor {
    padding: 9px 6px 8px;
    border-radius: 4px;
    background: #fff;
}

.work__config {
    position: absolute;
    bottom: 93px;
    left: 344px;

    display: flex;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__config-content {
    margin-left: 10px;
}

.work__config-title {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__config-desc {
    white-space: nowrap;
    margin-top: 5px;
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
}

.work__content {
    margin-top: 29px;
    width: 41%;
}

.work__label {
    display: flex;
    align-items: center;

    color: #696d77;
    line-height: 175%;
}

.work__label::before {
    content: '';
    display: inline-block;
    margin-right: 12px;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.work-body {
    margin-top: 70px;
}

.work-body__heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 145.455%;
}

.work-body__desc {
    margin: 16px 0 30px;
    color: #696d76;
    line-height: 175%;
}

.work-body__desc:last-child {
    margin-bottom: -30px;
}

/* Card */
.card {
    margin-top: 160px;
}

.card__inner {
    display: flex;
    align-items: center;
}

.card__left {
    width: 42%;
}

.card__label {
    display: flex;
    align-items: center;
    color: #696d77;
    line-height: 175%;
}

.card__label::before {
    content: '';
    width: 18px;
    height: 2px;
    margin-right: 12px;
    background: #696d77;
    display: inline-block;
}

.card__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 166.667%;
}

.card__list {
    margin-top: 28px;
}

.card__item {
    display: flex;
    align-items: center;

    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.card__item::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
    background: #7264d6;
}

.card__item + .card__item {
    margin-top: 18px;
}

.btn-card {
    --height: 58px;

    min-width: 149px;
    margin-top: 38px;
}

.card-right {
    margin-left: 130px;
}

.card__thumb {
    position: relative;
}

.card__img {
    display: block;
    width: 482px;
}

.card-payment {
    position: absolute;
    top: -48px;
    right: -88px;

    display: flex;
    align-items: center;

    padding: 23px 13px;
    border-radius: 12px;
    font-family: Inter, sans-serif;

    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.card-payment__icon {
    height: 40px;
    width: 40px;
    object-fit: none;
}

.card-info {
    margin-left: 14px;
}

.card-info__transfer {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-info__desc {
    margin-top: 4px;
    color: #696d76;
    font-size: 1rem;
}

.card-detail {
    margin-left: 67px;
}

.card-detail__amount {
    color: #212832;
    font-weight: 500;
}

.card-detail__time {
    text-align: right;
    margin-top: 3px;
    color: #696d76;
    font-size: 1rem;
}

.card-balance {
    position: absolute;
    bottom: -55px;
    right: -88px;

    padding: 14px 15px;
    width: 120px;
    border-radius: 16px;
    background: #439f90;
}

.card-balance__desc {
    margin: 14px 0 6px;
    color: #fff;
    font-size: 1.2rem;
}

.card-balance__amount {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.using__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}

.using-right {
    position: relative;
}

.using__thumb {
    position: relative;
}

.using__img {
    width: 413px;
}

.using__thumb::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: url(../img/using-decor.svg);
}

.using-payment {
    position: absolute;
    bottom: 57px;
    right: -102px;

    padding: 28px;
    background: #fff;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.using-payment__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.using-payment__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;

    margin-top: 20px;
}

.using-money {
    position: absolute;
    top: 284px;
    right: -130px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264d6;
}

.using__left {
    margin-left: 258px;
}

/* Feedback */
.feedback {
    margin-top: 160px;
}

.feedback__content {
    text-align: center;
}

.feedback__label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #696d77;
    line-height: 175%;
}

.feedback__label::before {
    display: inline-block;
    margin-right: 12px;
    content: '';
    width: 18px;
    height: 2px;
    background: #696d77;
}

.feedback-desc {
    margin: 18px auto 0;
    max-width: 435px;
}

.feedback__list {
    display: flex;
    gap: 30px;

    margin-top: 70px;
}

.feedback-item__blockquote {
    position: relative;
    padding: 42px 28px;
    background: #fff;
    filter: drop-shadow(0 0 3px #dfe2e8);
    color: #696d76;
    font-size: 2.2rem;
    text-align: center;
    font-style: italic;
    line-height: 154.545%;
    transition: 0.3s;
    border-radius: 8px;
    cursor: pointer;
}

.feedback-item__blockquote::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translate(-50%);
    bottom: -118px;
    border: 61px solid;
    border-color: #fff transparent transparent transparent;
}

.feedback-item__blockquote:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.feedback-info {
    text-align: center;
}

.feedback-info__avatar {
    display: inline-block;
    margin-top: 90px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: var(--bg-avatar);
    object-fit: cover;
}

.feedback-info__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 138.462%;
}

.feedback-info__title {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 166.667%;
}

.feedback__cta-wrap {
    display: flex;
    justify-content: center;
    gap: 12px;

    margin-top: 38px;
}

.feedback__cta {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    border-radius: 1px;
    cursor: pointer;
}

.feedback__cta--active {
    background: #7264d6;
}

/* Blogo */
.blog {
    margin-top: 160px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__label {
    display: flex;
    align-items: center;
    color: #696d77;
    line-height: 175%;
}

.blog__label::before {
    content: '';
    display: inline-block;
    margin-right: 12px;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.blog__desc {
    margin-top: 18px;
    width: 435px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 70px;
}

.blog-item {
    display: flex;
    column-gap: 22px;

    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.blog-item:hover {
    border: none;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__img {
    width: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.blog-item__date {
    margin-top: 10px;
    color: #696d76;
    font-size: 1.4rem;
    line-height: 171.429%;
}

.blog-item__title {
    margin-top: 10px;
    width: 332px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.blog-item__link {
    display: block;
    margin-top: 20px;
    color: #696d76;
    line-height: 162.5%;
}

.blog-item__link:hover {
    color: #7264d6;
}

/* App */
.app {
    margin-top: 160px;
    text-align: center;
}

.app__inner {
    position: relative;
    padding: 100px;
    border-radius: 24px;
    background: #7264d6;
}

.app__label {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    line-height: 175%;
}

.app__label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #fff;
    margin-right: 12px;
}

.app__heading {
    color: #fff;
}

.app__desc {
    display: inline-block;
    margin-top: 18px;
    width: 435px;
    color: #fff;
}

.app__dowload {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin-top: 38px;
}

.app__btn-img {
    display: block;
}

.app__decor {
    position: absolute;
}

.app__decor:nth-of-type(1) {
    top: 49px;
    left: 112px;
}

.app__decor:nth-of-type(2) {
    top: 49px;
    right: 112px;
}

.app__decor:nth-of-type(3) {
    bottom: 49px;
    right: 166px;
}

.app__decor:nth-of-type(4) {
    bottom: 49px;
    left: 166px;
}

/* Footer */
.footer {
    margin-top: 100px;
    background: #fafbff;
    padding-top: 100px;
}

.footer__top {
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.3fr 1fr;
    gap: 163px;
}

.footer__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
    margin-bottom: 24px;
}

.footer__link {
    display: inline-block;
    margin-top: 8px;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 166.667%;
    transition: 0.3s;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__desc {
    width: 371px;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 166.667%;
    margin-bottom: 48px;
}

.footer-form {
    display: flex;
    column-gap: 20px;
}

.footer-form__input {
    padding: 12px;
    width: 270px;
    border-radius: 6px;
    border: 1px solid #8e919a;
    background: transparent;
    line-height: 175%;
}

.footer-form__submit {
    padding: 12px 18px;
    color: #fff;
    font-weight: 600;
    line-height: 175%;
    border-radius: 6px;
    background: #7264d6;
    cursor: pointer;
}

.footer-form__submit:hover {
    opacity: 0.9;
}

.footer__row {
    display: flex;
    column-gap: 100px;
}

.footer__emaill,
.footer__tel {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 166.667%;
    text-decoration-line: underline;
}

.footer__copyright {
    margin-top: 28px;
    padding: 28px 0;
    background: #7264d6;
}

.footer__copyright-text {
    color: #fff;
    text-align: center;
    line-height: 175%;
}
