*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
input,
seclect,
button,
form,
textarea {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 125%;
}

.section-desc {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 175%;
}

.btn {
    --height: 52px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background: #212832;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 70px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link,
.header-action__link {
    position: relative;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 175%;
    padding: 8px 24px;
}

.nav__link--active,
.nav__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__link {
    color: #212832;
    font-weight: 600;
}

.nav__link--active::after {
    position: absolute;
    right: 22px;
    content: '';
    display: block;
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.header-action {
    margin-left: auto;
}
